<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
   </head>
<body>
 
    <%- include('nav') %>
   <br><br>

     <h1>User Details</h1>
        <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Remove User</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.name %></td>
                            <td><%= user.age %></td>
                            <td><%= user.email %></td>
                            <td><button class="remove-btn" onclick="deleteUser(<%= user.id %>)" /> Remove  </button> </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>


 
</body>
</html>